body {
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    font-family: 'Anton', sans-serif;
    /* align-items: flex-start; */
    /* height:100; */
    
    
}
.one {
    border: 1px solid black;
    width: 20%;
    margin-bottom: 10px;
    margin-right: 40px;
    min-width: 300px;
    margin-top: 20px;
    box-shadow: 8px 15px #888888;
   
}

.two {
    border: 1px solid black;
    width: 20%;
    margin-bottom: 10px;
    margin-right: 40px;
    min-width: 50px;
    min-height: 100px;
    min-width: 300px;
    margin-top: 20px;
    box-shadow: 8px 15px #888888;
}

.three {
    border: 1px solid black;
    width: 20%;
    margin-bottom: 10px;
    margin-right: 40px;
    min-width: 300px;
    margin-top: 20px;
    box-shadow: 8px 15px #888888;
}

.four {
    border: 1px solid black;
    width: 20%;
    margin-bottom: 10px;
    margin-right: 40px;
    min-width: 300px;
    margin-top: 20px;
    box-shadow: 8px 15px #888888;
}

.five {
    border: 1px solid black;
    width: 20%;
    margin-bottom: 10px;
    margin-right: 40px;
    min-width: 300px;
    margin-top: 20px;
    box-shadow: 8px 15px #888888;
}

.main {
    min-width: 300px;
    
    /* border-style: dotted; */
  
}

.h2 {
    display: flex;
    justify-content: center; 
    border: 1px solid black;
    border-style: dotted;
}

img {
    /* position: relative; */
  margin: 30px;
  /* image-orientation: 10deg; */
  transform: rotate(10deg);
}

.sold {
    display:flex;
    justify-content: center;
    margin-top: -250px;
    margin-bottom: 80px;
    /* position: absolute ;
    top: 150px; */
}

.para {
    font-weight: bold;
    margin: 0 5px 0 5px;
}

.available {
    background-color: gray;
    color:yellow;
}

.h4_spec {
    font-weight: bold;
}


li {
    list-style-type: none;
    margin-left: -25px;
    font-size: 15px;
}

h4 {
    margin-left: 5px;
    margin-bottom: -15;
}

footer {
    margin-top: -10px;
    margin-left: 2px;
    font-size: 10px;
}

.h4_price {
    margin-top: 5px;
}


/* .wrapper {
    display: flex;
    flex-wrap: wrap;
 } */
 
 .card {
    width: 33%;
    padding: 10px;
    box-shadow: 1px 1px lightgrey;
    box-sizing: border-box;
 }

 @media (min-width: 600px) {
    body {
        display: flex;
        justify-content: center
        /* height:100; */
        
        
    }
  }